item-collection-list {
    .product-item {
        height: 100%;
    }
    
    ion-card.collection-item {
        border-radius: 9.5%;
        box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
        
        div.top-box {
            position: relative;

            img {
                padding-top: 1em;
            }

            .price-format {
                position: absolute;
                top: 2%;
                left: 8%;
                color: black;
                text-transform: lowercase;
                opacity: 0.7;
                font-weight: 600;
                font-size: 0.95em;
            }
    
            .sale {
                position: absolute;
                top: 0;
                right: 0;
                background-color: #daf5ec;
                color: #44cd9f;
                padding: 0 1em;
                border-radius: 0 50% 0 50%;
            }
    
            .title {
                text-align: center;
                // for 2 line truncate
                -webkit-line-clamp: 2;
                -webkit-box-orient: vertical;
                display: -webkit-box;
                // color and text transform
                color: black;
                text-transform: lowercase;
                opacity: 0.7;
                font-weight: 600;
                height: 3em;
                // font-size: 1.6em;
                margin-top: 0.5em;
            }
        }
        .addtocart {
            border-top: 2px rgba(68,205,109,0.3) solid;
            text-transform: inherit;
            color: #42ce9f;
            font-weight: 400;
            // font-size: large;
            // font-size: 1.7em;
            ion-icon {
                padding-right: 0.5em;
            }
        }

    }
       
}
