<ion-grid class="filter-collection">
  <ion-row>
    <ion-col col-6 class="sort-by-1">
      <!-- <ion-label>Bộ lọc</ion-label> -->
      <ion-select interface="popover" [selectOptions]="sortBy" [(ngModel)]="filterRange" (ionChange)="filterEvent.emit($event)">
        <ion-option [value]="price.range" [selected]="price.selected" (ionSelect)="turnOffSort()" *ngFor="let price of filterList">{{price.name}}</ion-option>
      </ion-select>
      <div class="icon-custom"><i class="fas fa-filter"></i></div>
    </ion-col>
    <ion-col col-6 class="sort-by-2">
      <!-- <ion-label>Sắp xếp theo</ion-label> -->
      <ion-select interface="popover" [selectOptions]="sortBy" [(ngModel)]="sortRange" (ionChange)="filterEvent.emit($event)">
        <ion-option [value]="price.range" [selected]="price.selected" (ionSelect)="turnOffFilter()" *ngFor="let price of sortList">{{price.name}}</ion-option>
      </ion-select>
      <div class="icon-custom"><i class="fas fa-sort"></i></div>
    </ion-col>
  </ion-row>
</ion-grid>
