page-item-cart-note {
  .bar-button .text {
    font-size: 13px;
    margin-right: 16px;
  }
  .bar-buttons .bar-button {
    width: 40px !important;
  }
  textarea {
    background: #fff; // border-radius:3px;
    border: none;
    box-shadow: 0px 0px 1px 1px rgba(0, 0, 0, 0.1);
    padding: 10px;
    -webkit-transition: height 2s ease;
    -moz-transition: height 2s ease;
    -ms-transition: height 2s ease;
    -o-transition: height 2s ease;
    transition: height 2s ease;
  }
}
