<ng-container *ngIf="variants | async; let variants">
  <ion-header no-padding-header>
    <ion-navbar [hideBackButton]="!viewPage">
      <ion-title [ngClass]="{'viewastab': viewPage == false}">
        <!-- button back -->
        <button class="btn-title btn-view" ion-button color="black" clear *ngIf="!viewPage">
          <ion-icon class="fsize-22" name="md-arrow-back" (click)="dismiss()"></ion-icon>
        </button>
        <button class="mg-l-12" ion-button color="black" disabled clear text-uppercase>
          Giỏ hàng
        </button>
      </ion-title>
      <!-- del all button  -->
      <ion-buttons end>
        <button ion-button icon-only tappable (tap)="removeAll()" [disabled]="variants?.length < 1">
          <i class="fas fa-trash-alt"></i>
        </button>
      </ion-buttons>
    </ion-navbar>
  </ion-header>
  <ion-content [class.has-padding]="paddingContent">
    <ion-grid class="box-empty" *ngIf="variants?.length < 1">
      <ion-row>
        <ion-col col-12>
          <img [src]="emptyImg" class="img-empty">
        </ion-col>
      </ion-row>
    </ion-grid>
    <ion-list class="list-item-cart no-mg-bottom" *ngIf="variants?.length > 0">
      <ion-item-sliding no-padding class="item-cart" *ngFor="let variant of variants; let num = index">
        <ion-item class="line-item">
          <ion-label no-margin>
            <ion-row no-padding align-items-center>
              <ion-col col-2 no-padding>
                <img src="{{variant.image}}" tappable (tap)="viewProduct(variant.handle)">
              </ion-col>
              <ion-col col-9 class="infor-item">
                <ion-row>
                  <ion-col col-12 class="item-title" tappable (tap)="viewProduct(variant.handle)">
                    {{variant.productTitle}}
                  </ion-col>
                </ion-row>
                <ion-row>
                  <ion-col col-12 class="item-variant">
                    <span>{{variant.title}}</span>
                  </ion-col>
                </ion-row>
                <ion-row align-items-center>
                  <ion-col col-12 class="no-pd-bottom">
                    <ion-input type="number" class="qty-num" value="{{variant.quantity}}" min="1" #qtynum></ion-input>
                    <button ion-button clear class="qty-minus" tappable (tap)="decrease(variant)">
                      <i class="fas fa-minus"></i>
                    </button>
                    <button ion-button clear class="qty-plus" tappable (tap)="increase(variant)">
                      <i class="fas fa-plus"></i>
                    </button>
                  </ion-col>
                </ion-row>
                <ion-row>
                  <ion-col col-12 class="no-pd-bottom">
                    <div class="itemLine__price" no-padding>
                      {{variant.price_format}}
                      <del class="compare-price">
                        {{variant.compare_at_price_format}}
                      </del>
                    </div>
                  </ion-col>
                </ion-row>
              </ion-col>
              <ion-col col-1 text-right (click)="remove(variant)">
                <i class="fas fa-trash-alt del-item" color="saleoff"></i>
              </ion-col>
            </ion-row>
          </ion-label>
          <ion-checkbox [checked]="variant.selected" class="check-item" (ionChange)="selectItem(variant, num.checked)" tappable (tap)="clickedItem(num.checked)" #num></ion-checkbox>
        </ion-item>
      </ion-item-sliding>
    </ion-list>
    <ion-grid>
      <ion-row class="note">
        <ion-col col-12 class="note-content" tappable (tap)="addNote()" *ngIf="variants?.length > 0">
          <div class="title-note" text-uppercase>
            Ghi chú: <span>{{note}}</span>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-content>
  <ion-footer>
    <ion-grid class="bg-white">
      <ion-row align-items-center class="pd-cart">
        <ion-col col-4 class="count-item">
          <ion-list no-margin>
            <ion-item no-padding class="bg-white">
              <ion-label no-margin class="fsize-12 novflow">
                Chọn tất cả
              </ion-label>
              <ion-checkbox [checked]="isSelectedAll" [disabled]="variants?.length < 1" class="check-all" tappable (tap)="selectAllItems( btncheckall.checked)" #btncheckall></ion-checkbox>
            </ion-item>
          </ion-list>
        </ion-col>
        <ion-col col-8 text-right class="total">
          <p class="title" no-margin>Tổng cộng:
            <span class="price">{{gross | number: '1.0-2' }}₫</span>
          </p>
        </ion-col>
      </ion-row>
    </ion-grid>
    <ion-grid no-padding>
      <ion-row>
        <ion-col col-12>
          <button class="btn-checkout" color="saleoff" text-uppercase tappable (tap)="checkout()" [disabled]="clicked || variants?.length < 1" ion-button full>
            Tiến hành thanh toán
          </button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-footer>
</ng-container>
