<ion-grid *ngFor="let collection of collections">
  <ion-row>
    <ion-col col-12 text-center text-uppercase class="title-h-collecton">
      {{collection.title}}
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col col-6 col-md-3 col-lg-3 col-xl-4 *ngFor="let product of collection.products">
      <div class="product-item">
        <div class="product-img">
          <a text-center tappable (click)="goProduct(product)">
            <img [src]="product.featured_image" [alt]="product.title">
          </a>
          <div class="product-tags">
            <div class="tag-saleoff" text-center>{{product.sale}}</div>
          </div>
        </div>
        <div class="product-info">
          <div class="product-title" text-uppercase tappable (click)="goProduct(product)">
            {{product.title}}
          </div>
          <div class="product-price" text-center>
            <span class="current-price">{{product.price_format}}</span>
            <span class="original-price">
            <s>{{product.compare_at_price_format}}</s>
          </span>
          </div>
        </div>
      </div>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col col-12 text-center class="more-h-collecton">
      <span tappable (click)="goCollection(collection)">Xem thêm sản phẩm <ion-icon name="arrow-down"></ion-icon></span>
    </ion-col>
  </ion-row>
</ion-grid>
