home-collections {
    ion-card {
        height: 100%;

        p.collection-title {
            text-align: center;
            // for 2 line truncate
            -webkit-line-clamp: 2;
            -webkit-box-orient: vertical;
            display: -webkit-box;
            // color and text transform
            color: black;
            text-transform: lowercase;
            opacity: 0.7;
            font-weight: 600;
            height: 3em;
        }
    }
    
}
