// http://ionicframework.com/docs/theming/
// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.
// platform ios
.back-button-text-ios{
	display: none;
}
// .platform-android {
.ion-page {
  ion-header {
    padding-top: $cordova-md-statusbar-padding;
    // background-color: color($colors, primary);
    .noti-btn {
      // margin-right: 1em;
      position: relative;
      ion-badge {
        position: absolute;
        top: -0.6em;
        right: -1.2em;
      }
    }
    .toolbar .bar-buttons .bar-button {
      font-size: 16px;
      width: 24px;
      color: color($colors, black);
    }
    .bar-button{
    	color: color($colors, black);
    }
    .toolbar-title {
      font-size: 14px;
      text-transform: uppercase;
      font-weight: bold;
    }
  }
  .toolbar-ios ion-title{
  	padding: 0 45px 1px;
  	width: inherit;
  }
}

// back btn
.back-button.show-back-button {
  margin: 0;
  padding-left: 0;
  min-width: 33px !important;
}

// content padding top when statusbar overlay
.scroll-content{
    margin-top: 76px;
}

// }
// Super bar placeholder
// Work in tool bar with transparent status bar
%super-bar {
  .scroll-content {
    margin-top: 0 !important;
  }

  ion-header,
  .toolbar-background {
    background-color: transparent !important;
    transition: background-color 1s ease;

    &:after {
      height: 0 !important;
    }
  }

  .opaque {
    // background-color: color($colors, primary) !important;
    &:after {
      height: 5px !important;
    }

    .toolbar-background {
      background-image: -webkit-linear-gradient(bottom, #b9b9b9, #000000) !important;
      background-image: -o-linear-gradient(bottom, #b9b9b9, #000000) !important;
      background-image: linear-gradient(to top, #b9b9b9, #000000) !important; // background: transparent;
    }
  }
}

// Extend super bar placeholder for android
// .platform-android {
page-home {
  @extend %super-bar;
}

// }



// home slider
.slide-zoom {
  position: relative;
  line-height: 0;

  .header {
    position: absolute;
    top: $cordova-md-statusbar-padding;
    left: 0.8rem;
  }

  img.cover {
    width: 100%;
    border: none;
    vertical-align: middle;
    height: 166px;
  }
}

// badge header
.badge-header {
  background: color($colors, white);
  color: color($colors, black);
  border-radius: 50%;
  padding: 3px 0;
  height: 14px;
  width: 14px;
  font-size: 8px;
  top: 4px !important;
  left: 14px;
  border: 1px solid color($colors, black);
}

// badge tab btn
.tab-button .tab-badge {
  background: color($colors, white);
  color: color($colors, black);
  border-radius: 50%;
  padding: 0;
  height: 17px;
  width: 17px;
  font-size: 10px;
  top: 2px !important;
  left: 53%;
  border: 1px solid color($colors, black);
}

// tabs bottom 
.tabs-bottom {
  &.tabs-md[tabsPlacement="bottom"]>.tabbar::before {
    background-image: none;
  }
  .tabbar {
    border-bottom: 1px solid color($colors, tabsborder);
    border-top: 1px solid color($colors, tabsborder);
    background: color($colors, tabsbg);
    .tab-button,
    .tab-button .tab-button-icon {
      color: color($colors, black);
      &[aria-selected=true],
      &[aria-selected=true] .tab-button-icon {
        // color: color($colors, price);
      }
    }
  }
}

// custom icon tabs btn
.ion-ios-customicon-home,
.ion-wp-customicon-home,
.ion-md-customicon-home,
.ion-ios-customicon-home-outline,
.ion-ios-customicon-home-outline 
 {
  content: url(../../assets/icon/shelter.png);
  width: 24px;
  height: 24px;
}

.ion-ios-customicon-list,
.ion-wp-customicon-list,
.ion-md-customicon-list,
.ion-ios-customicon-list-outline,
.ion-ios-customicon-list-outline  {
  content: url(../../assets/icon/list.png);
  width: 24px;
  height: 24px;
}

.ion-ios-customicon-like,
.ion-wp-customicon-like,
.ion-md-customicon-like,
.ion-ios-customicon-like-outline,
.ion-ios-customicon-like-outline {
  content: url(../../assets/icon/heart.png);
  width: 24px;
  height: 24px;
}

.ion-ios-customicon-cart,
.ion-ios-customicon-cart-outline,
.ion-md-customicon-cart,
.ion-wp-customicon-cart,
.ion-ios-customicon-cart-outline {
  content: url(../../assets/icon/shopping-cart-empty-side-view.png);
  width: 24px;
  height: 24px;
}

.ion-ios-customicon-contact,
.ion-wp-customicon-contact,
.ion-md-customicon-contact,
.ion-ios-customicon-contact-outline,
.ion-ios-customicon-contact-outline  {
  content: url(../../assets/icon/profile.png);
  width: 24px;
  height: 24px;
}

// item product
.product-item {
  border: 1px solid color($colors, border);
  border-radius: 0;
  padding-bottom: 3px;
  background: color($colors, white);
  .product-img {
    max-height: 216px;
    position: relative;
    overflow: hidden;
    a {
      display: block;
      overflow: hidden;
      img {
        vertical-align: middle;
      }
    }
    .product-tags {
      .tag-saleoff {
        position: absolute;
        top: 0px;
        right: 0px;
        z-index: 1;
        background: color($colors, saleoff);
        height: 20px;
        width: 40px;
        line-height: 20px;
        border-radius: 0;
        color: #fff;
        font-size: 11px;
      }
      .tag-soldout {
        position: absolute;
        top: 0px;
        right: 0px;
        z-index: 1;
        background: color($colors, black);
        height: 20px;
        width: 40px;
        line-height: 20px;
        border-radius: 0;
        color: #fff;
        text-transform: uppercase;
        font-size: 11px;
      }
    }
  }
  .product-info {
    .product-title {
      color: color($colors, black); // for 2 line truncate
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
      display: -webkit-box;
      min-height: 30px;
      line-height: 1.4em;
      font-size: 9px;
      overflow: hidden;
      font-weight: bold;
      padding: 5px 5px 0 6px;
    }
    .product-price {
      .current-price {
        color: color($colors, price);
        font-size: 12px;
        font-weight: bold;
      }
      .original-price {
        font-size: 9px;
        color: color($colors, gray);
        padding-left: 5px;
      }
    }
  }
}

// popover view variant
ion-popover.variant-product {
  ion-backdrop {
    opacity: .1;
  }
  .popover-content {
    bottom: 0 !important;
    left: 0 !important;
    top: 100% !important;
    background: none !important;
    border-radius: 0 !important;
    width: 100% !important;
    overflow: inherit !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    .bt-f-right {
      margin-left: 0;
    }
    .footer-md::before {
      background-image: none !important;
    }
    .border-option{
	    display: inline-block;
    	padding: 0 5px 0 0;
    }
    .variant-selected {
      overflow: scroll;
      max-height: 250px;
      .label-option{
  	    font-size: 12px;
		font-weight: bold;
      }
      ion-list {
        margin: 0 !important;
      }
      ion-row {
        border-bottom: none !important;
      }
      .radio {
        opacity: 0;
        width: 0;
        margin: 0;
      }
      .item {
        // margin: 5px;
        &.item-radio.item-radio-checked {
          color: color($colors, white);
          background: color($colors, black);
          border-radius: 0;
          text-align: center;
          padding: 0px 5px;
	      line-height: 20px;
		  min-height: 20px;
	      min-width: 22px;
          .item-inner {
            border-bottom: none !important;
            padding: 0;
          }
          ion-label {
            color: color($colors, white);
            margin: 0;
            text-overflow: inherit;
            white-space: inherit;
          }
        }
        &.item-radio {
          border: 1px solid color($colors, black);
          color: color($colors, black);
          background: color($colors, white);
          background: transparent;
          text-align: center;
          border-radius: 0;
          padding: 0px 5px;
	      line-height: 20px;
		  min-height: 20px;
		  min-width: 22px;
          .item-inner {
            border-bottom: none !important;
            padding: 0;
          }
          ion-label {
            margin: 0;
            text-overflow: inherit;
            white-space: inherit;
            font-size: 12px;
          }
        }
      }
    }
  }
}

// other
.mg-r-12 {
  margin-right: 12px;
}

.no-pd-top {
  padding-top: 0;
}

.no-pd-bottom {
  padding-bottom: 0;
}

.no-mg-bottom {
  margin-bottom: 0;
}

.bg-white {
  background: color($colors, white);
}

.boder-bottom {
  border-bottom: 1px solid #b7b7b7;
}
