// http://ionicframework.com/docs/theming/
// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.
// platform ios
.back-button-text-ios{
	display: none;
}
// .platform-android {
.ion-page {
  ion-header {
    padding-top: $cordova-md-statusbar-padding;
    // background-color: color($colors, primary);
    .toolbar{
      // padding: 5px 4px 0 4px!important;
      padding: 0 4px!important;
      min-height: 44px !important;
    }
    .noti-btn {
      // margin-right: 1em;
      position: relative;
      ion-badge {
        position: absolute;
        top: -0.6em;
        right: -1.2em;
      }
    }
    .toolbar .bar-buttons .bar-button, .toolbar .bar-buttons a {
      font-size: 16px;
      width: 24px;
      color: color($colors, black);
      // a{
      //   color: color($colors, black);
      // }
    }
    .bar-button{
      color: color($colors, black);
      height: 31px;
      // &.bar-button-md,
      // &.bar-button-wp{
        top: 0px;
      // }
      &.bar-button-ios{
        top: -2px;
      }
      // top: -3px;
    }
    .toolbar-title {
      font-size: 14px;
      text-transform: uppercase;
      font-weight: bold;
      text-align: left;
      &.toolbar-title-md{
        padding-left: 6px;
        line-height: 20px;
      }
    }
  }
  .toolbar-ios ion-title{
  	padding: 0 40px 1px;
    // width: inherit;
    padding-left: 10px;
    button{
      height: 35px;
      top: 2px;
    }
  }

}

.menu-inner>ion-content, .menu-inner>ion-footer, .menu-inner>ion-header{
  top: 20px;
}

// back btn
.back-button.show-back-button {
  margin: 0;
  padding-left: 0;
  min-width: 38px !important;
  height: 31px !important;
}

// content padding top when statusbar overlay
.scroll-content{
  margin-top: 44px; //56
}

// }
// Super bar placeholder
// Work in tool bar with transparent status bar
%super-bar {
  .scroll-content {
    margin-top: 0 !important;
  }

  ion-header,
  .toolbar-background {
    background-color: transparent !important;
    transition: background-color 800ms ease;
    border-bottom: 0 !important;
    &:after {
      height: 0 !important;
    }
  }

  .opaque {
    // background-color: color($colors, primary) !important;
    &:after {
      height: 5px !important;
    }

    .toolbar-background {
      background-color: color($colors, black) !important;
    }
  }
}

// Extend super bar placeholder for android
// .platform-android {
page-home, page-me {
  @extend %super-bar;
}

// }



// home slider
.slide-zoom {
  position: relative;
  line-height: 0;

  .header {
    position: absolute;
    top: $cordova-md-statusbar-padding;
    left: 0.8rem;
  }

  img.cover {
    width: 100%;
    border: none;
    vertical-align: middle;
    // height: 166px;
  }
}

// badge header
.badge-header {
  background: color($colors, white);
  color: color($colors, black);
  border-radius: 50%;
  padding: 3px 0;
  height: 14px;
  width: 14px;
  font-size: 8px;
  top: 4px !important;
  left: 14px;
  border: 1px solid color($colors, black);
}

// badge tab btn
.tab-button .tab-badge {
  background: color($colors, tabsbg);
  color: color($colors, black);
  border-radius: 50%;
  padding: 0;
  height: 17px;
  width: 17px;
  line-height: 16.5px;
  font-size: 10px;
  top: 4px !important;
  left: 53%;
  border: 1px solid color($colors, black);
}

// tabs bottom 
.tabs-bottom {
  &.tabs-md[tabsPlacement="bottom"]>.tabbar::before {
    background-image: none;
  }
  .tabbar {
    border-bottom: 1px solid color($colors, tabsborder);
    border-top: 1px solid color($colors, tabsborder);
    background: color($colors, tabsbg);
    .tab-button,
    .tab-button .tab-button-icon {
      color: color($colors, black);
      // &[aria-selected=true],
      // &[aria-selected=true] .tab-button-icon {
      //   // color: color($colors, price);
      // }
    }
  }
}

// custom icon tabs btn
.ion-ios-customicon-home,
.ion-wp-customicon-home,
.ion-md-customicon-home,
.ion-customicon-home,
.ion-ios-customicon-home-outline 
 {
  content: url(../assets/icon/home.png);
    width: 24px !important;
    height: 24px !important;
    min-width: 24px !important;
}
.tab-button[aria-selected=true] .ion-customicon-home,
.tab-button[aria-selected=true] .ion-ios-customicon-home,
.tab-button[aria-selected=true] .ion-ios-customicon-home-outline,
.tab-button[aria-selected=true] .ion-wp-customicon-home,
.tab-button[aria-selected=true] .ion-md-customicon-home{
  content: url(../assets/icon/home-active.png) !important;
}

.ion-ios-customicon-list,
.ion-wp-customicon-list,
.ion-md-customicon-list,
.ion-ios-customicon-list-outline  {
  content: url(../assets/icon/categories.png);
    width: 24px !important;
    height: 24px !important;
    min-width: 24px !important;
}

.tab-button[aria-selected=true] .ion-customicon-list,
.tab-button[aria-selected=true] .ion-ios-customicon-list,
.tab-button[aria-selected=true] .ion-ios-customicon-list-outline,
.tab-button[aria-selected=true] .ion-wp-customicon-list,
.tab-button[aria-selected=true] .ion-md-customicon-list{
  content: url(../assets/icon/categories-active.png) !important;
}

.ion-ios-customicon-like,
.ion-wp-customicon-like,
.ion-md-customicon-like,
.ion-customicon-like,
.ion-ios-customicon-like-outline,
.ion-ios-customicon-like-outline {
  content: url(../assets/icon/heart.png);
    width: 24px !important;
    height: 24px !important;
    min-width: 24px !important;
}

.ion-ios-customicon-news,
.ion-wp-customicon-news,
.ion-md-customicon-news,
.ion-customicon-news,
.ion-ios-customicon-news-outline {
  content: url(../assets/icon/blogs.png);
    width: 24px !important;
    height: 24px !important;
    min-width: 24px !important;
}

.tab-button[aria-selected=true] .ion-customicon-news,
.tab-button[aria-selected=true] .ion-ios-customicon-news,
.tab-button[aria-selected=true] .ion-ios-customicon-news-outline,
.tab-button[aria-selected=true] .ion-wp-customicon-news,
.tab-button[aria-selected=true] .ion-md-customicon-news{
  content: url(../assets/icon/blogs-active.png) !important;
}

.ion-ios-customicon-cart,
.ion-ios-customicon-cart-outline,
.ion-md-customicon-cart,
.ion-customicon-cart,
.ion-wp-customicon-cart,
.ion-ios-customicon-cart-outline {
  content: url(../assets/icon/cart.png);
    width: 24px !important;
    height: 24px !important;
    min-width: 24px !important;
}

.tab-button[aria-selected=true] .ion-customicon-cart,
.tab-button[aria-selected=true] .ion-ios-customicon-cart,
.tab-button[aria-selected=true] .ion-ios-customicon-cart-outline,
.tab-button[aria-selected=true] .ion-wp-customicon-cart,
.tab-button[aria-selected=true] .ion-md-customicon-cart{
  content: url(../assets/icon/cart-active.png) !important;
}

.ion-ios-customicon-contact,
.ion-wp-customicon-contact,
.ion-md-customicon-contact,
.ion-customicon-contact,
.ion-ios-customicon-contact-outline,
.ion-ios-customicon-contact-outline  {
  content: url(../assets/icon/account.png);
    width: 24px !important;
    height: 24px !important;
    min-width: 24px !important;
}

.tab-button[aria-selected=true] .ion-customicon-contact,
.tab-button[aria-selected=true] .ion-ios-customicon-contact,
.tab-button[aria-selected=true] .ion-ios-customicon-contact-outline,
.tab-button[aria-selected=true] .ion-wp-customicon-contact,
.tab-button[aria-selected=true] .ion-md-customicon-contact{
  content: url(../assets/icon/account-active.png) !important;
}

.tabs .tab-button[aria-selected=true]{
  color: #b62f2f;
  .tab-button-icon,
  .tab-button-text,
  .tab-badge{
    -webkit-transform: none !important;
    transform: none !important;
  }
  .tab-badge{
    color: #b62f2f;
    border: 1px solid #b62f2f;
  }
}
// wp
.tabs-wp[tabsPlacement=bottom] .tab-button[aria-selected=true]{
  border-top-color: transparent !important;
}
.tabs-wp .tab-button{
  padding: 12px 3px 5px !important;
}

// item product
.product-item {
  border: 1px solid color($colors, border);
  border-radius: 0;
  padding-bottom: 3px;
  background: color($colors, white);
  .product-img {
    max-height: 216px;
    position: relative;
    overflow: hidden;
    a {
      display: block;
      overflow: hidden;
      img {
        vertical-align: middle;
        width: 100%;
      }
    }
    .product-tags {
      .tag-saleoff {
        position: absolute;
        top: 0px;
        right: 0px;
        z-index: 1;
        background: color($colors, saleoff);
        height: 20px;
        width: 40px;
        line-height: 20px;
        border-radius: 0;
        color: #fff;
        font-size: 11px;
      }
      .tag-soldout {
        position: absolute;
        top: 0px;
        right: 0px;
        z-index: 1;
        background: color($colors, black);
        height: 20px;
        width: 40px;
        line-height: 20px;
        border-radius: 0;
        color: #fff;
        text-transform: uppercase;
        font-size: 11px;
      }
    }
  }
  .product-info {
    .product-title {
      color: color($colors, black); // for 2 line truncate
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
      display: -webkit-box;
      min-height: 30px;
      line-height: 1.4em;
      font-size: 9px;
      overflow: hidden;
      font-weight: bold;
      padding: 5px 5px 0 6px;
    }
    .product-price {
      .current-price {
        color: color($colors, price);
        font-size: 12px;
        font-weight: bold;
      }
      .original-price {
        font-size: 9px;
        color: color($colors, gray);
        padding-left: 5px;
      }
    }
  }
}

// popover backdrop
ion-popover ion-backdrop{
  opacity: 0.2 !important;
  background-color: color($colors, black);
}

// popover view variant
ion-popover.variant-product {
  .popover-content {
    bottom: 0 !important;
    left: 0 !important;
    top: 100% !important;
    background: none !important;
    border-radius: 0 !important;
    width: 100% !important;
    overflow: inherit !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    .bt-f-right {
      margin-left: 0;
    }
    .footer-md::before {
      background-image: none !important;
    }
    .border-option{
	    display: inline-block;
    	padding: 2px 5px 2px 0;
    }
    .variant-selected {
      // overflow: scroll;
      max-height: 250px;
      &:first-child{
        margin-bottom: 5px;
      }
      .label-option{
  	    font-size: 12px;
		    font-weight: bold;
      }
      ion-list {
        margin: 0 !important;
      }
      ion-row {
        border-bottom: none !important;
      }
      .radio {
        opacity: 0;
        width: 0;
        margin: 0;
      }
      .item {
        // margin: 5px;
        &.item-radio.item-radio-checked {
          color: color($colors, white);
          background: color($colors, black);
          border-radius: 0;
          text-align: center;
          padding: 0px 5px;
	        line-height: 20px;
		      min-height: 20px;
	        min-width: 22px;
          .item-inner {
            border-bottom: none !important;
            padding: 0;
          }
          ion-label {
            color: color($colors, white);
            margin: 0;
            text-overflow: inherit;
            white-space: nowrap;
          }
        }
        &.item-radio.item-radio-disabled {
    		color: color($colors, black);
            background: color($colors, white);
          ion-label {
            color: color($colors, black);
            margin: 0;
            text-overflow: inherit;
            white-space: nowrap;
            opacity: 1;
            span{
        	    opacity: 0.8;
            }
            .crossed-out{
		      	display: block;
		      }
          }
        }
        &.item-radio {
          border: 1px solid color($colors, black);
          color: color($colors, black);
          background: color($colors, white);
          background: transparent;
          text-align: center;
          border-radius: 0;
          padding: 0px 5px;
	        line-height: 20px;
		      min-height: 20px;
		      min-width: 22px;
          .item-inner {
            border-bottom: none !important;
            padding: 0;
          }
          ion-label {
            margin: 0;
            text-overflow: inherit;
            white-space: nowrap;
            font-size: 12px;
            .crossed-out{
		      	  display: none;
	      	    position: absolute;
              width: 100%;
              height: 100%;
              left: 0;
              top: 0;
              z-index: 10;
		        }
          }
        }
      }
    }
  }
}

// popover sort and filter
ion-popover.sort-and-filter{
  ion-item{
    font-size: 12px !important;
    min-height: 35px;
    height: 35px;
    .item-inner{
      height: 35px;
    }
  }
}

// empty cart, search, collection
.box-empty{
  height: 100%;
  .row{
    height: 100%;
    .col{
      display: flex;
      img.img-empty{
        margin: auto;
        max-width: 200px;
      }
    }
  }
}

// other
.mg-r-12 {
  margin-right: 12px !important;
}

.mg-l-12 {
  &.button-md{
    margin-left: 12px !important;
  }
}

.no-mg-bottom {
  margin-bottom: 0 !important;
}

.no-mg-top {
  margin-top: 0 !important;
}

.no-pd {
  padding: 0 !important;
}

.no-pd-top {
  padding-top: 0 !important;
}

.no-pd-bottom {
  padding-bottom: 0 !important;
}

.pd-l-r-8{
  padding: 0px 8px;
}

.pd-t-32{
  padding-top: 32px;
}

.bg-white {
  background: color($colors, white);
}

.boder-bottom {
  border-bottom: 1px solid #b7b7b7;
}
