page-item-list-collection {

  // back btn
  .back-button {
    margin: 0;
    padding-left: 0;
    min-width: 33px !important;
    display: block;
  } 

  // item collection
  .horizontal-container {
    overflow: auto;
    white-space: nowrap;
    .horizontal {
      display: inline-block; // margin-right: 10px;
      max-width: 50%;
      position: none;
      position: initial;
      .horizontal-item {
        white-space: normal;
        background-color: #ffffff;
        border: 1px solid #b7b7b7;
        -webkit-box-shadow: 0px 1px 3px 0px #ebebeb;
        box-shadow: 3px 3px 3px 0px #ebebeb;
        text-align: center;
        // overflow: hidden;
        // height: 114px;
        .item-col {
          background-color: transparent;
          color: #333;
          text-decoration: none;
          display: block;
          text-align: center; // white-space: nowrap;
          margin: 0 auto;
          position: relative;
          font-size: 0;
          img {
          	padding: 6px 0;
            background: color($colors, white);
            max-height: 95px;
          } // &.active {
          //   // .item-col {
          //     img {
          //       -webkit-transition: -webkit-transform 0.3s ease-in-out;
          //       transition: -webkit-transform 0.3s ease-in-out;
          //       transition: transform 0.3s ease-in-out;
          //       transition: transform 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
          //       transform: scale3d(1.16667, 1.16667, 1);
          //       max-height: 10px;
          //     }
          //   // }
          //   span.transit {
          //     transform: scale3d(1.16667, 1.16667, 1);
          //     color: #d52323;
          //     font-weight: bold;
          //     border-bottom: 3px solid #d52323;
          //   }
          // }
        }
        span.transit {
          padding: 0;
          -webkit-transition: all .25s ease;
          -moz-transition: all .25s ease;
          -ms-transition: all .25s ease;
          -o-transition: all .25s ease;
          transition: all .25s ease;
          overflow: hidden;
          text-overflow: ellipsis;
          display: -webkit-box;
          line-height: 15px;
          max-height: 62px;
          -webkit-line-clamp: 2;
          -webkit-box-orient: vertical;
          font-size: 12px;
          margin-bottom: 3px;
        }
      }
    }
  }
}
