page-me {
    .iframe-account {
        height: 100%;
        width: 100%;
        display: none;
    }
    .iframe-login {
        height: 100%;
        width: 100%;
        display: none;
    }
    .img-circular{
     width: 100%;
     // height: 200px;
     background-image: url('../assets/icon/home-parallax-bgfrgrgr.jpg');
     background-size: cover;
     display: block;
     // border-radius: 100px;
     // -webkit-border-radius: 100px;
     // -moz-border-radius: 100px;
    }
}
