page-item-newspaper-detail {
  .noti {
    padding: 0 10px;
    .noti-content {
      font-size: 12px;
      table {
        width: 100% !important;
        font-size: 12px !important;
        td {
          border: 1px solid color($colors, black) !important;
          padding: 2px !important;
        }
      }
    }
  }
}
