<!--
  Generated template for the ItemSearchPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header no-padding-header>

  <ion-navbar>
    <!-- <ion-buttons start>
      <button ion-button icon-only (click)="back()">
          <ion-icon name="md-arrow-back"></ion-icon>
      </button>
    </ion-buttons> -->
    <ion-searchbar
      [(ngModel)]="myInput"
      [showCancelButton]="shouldShowCancel"
      (keypress)="onInput($event, $event.keyCode)"
      (ionCancel)="onCancel($event)"
      placeholder="Bạn muốn mua gì?"
      class="search-header">
    </ion-searchbar>
  </ion-navbar>

</ion-header>


<ion-content>
  <ion-grid class="box-empty" *ngIf="products?.length < 1 && myInput != undefined">
    <ion-row>
      <ion-col col-12>
        <img [src]="emptyImgSearch" class="img-empty">
      </ion-col>
    </ion-row>
  </ion-grid>
  <ng-container *ngIf="products?.length > 0">
    <item-search-list [products]="products" (goDetail)="goDetail($event)" [myInput]="myInput" [showResult]="showResultSearch"></item-search-list>
  </ng-container>
</ion-content>
