slide {
    ion-slides {
        height: fit-content;
    }
    ion-slides .swiper-pagination-bullet-active {
        // outline: rgba(0,0,0,0.2) 3px solid;
        width: 12px;
        height: 12px;
        background-color: white;
        position: relative;
    }

    ion-slides .swiper-pagination-bullet-active:after {
        content: '';
        position: absolute;
        display: block;
        top: -3px;
        left: -3px;
        width: 12px;
        height: 12px;
        border-radius: 100%;
        border: rgba(0, 0, 0, 0.2) 3px solid;
    }

    ion-slides .swiper-pagination-bullet {
        width: 12px;
        height: 12px;
        opacity: .5;
    }
}
