page-item-variant {

  // img varaint
  .img-variant {
    background: color($colors, white);
    position: relative;
    img {
      position: absolute;
      top: -80px;
      padding: 2px 2px 0 2px;
      background: #fff;
      border: 1px solid #b7b7b7;
    }
  }
  .variant_price {
    color: color($colors, price);
    font-size: 15px;
    .variant_compare-price {
      color: #413f40;
      font-size: 11px;
      padding-left: 8px;
    }
    .variant_stock {
      font-size: 11px;
      padding-top: 4px;
      padding-bottom: 10px;
    }
  }
  .quantity{
    border-top: 1px solid #b7b7b7;
  }
  .qty-plus {
    display: inline-block;
    color: color($colors, black);
    position: absolute;
    right: 40px;
    top: 0;
    width: 32px;
    height: 32px;
    padding: 0;
    margin: 0;
    &.button-wp {
      height: 4em;
      font-size: 1.6rem;
      margin: 0.4rem 0.2rem;
      padding: 0 1em;
    }
    &.activated {
      color: #dd4f29;
    }
  }

  .qty-minus {
    display: inline-block;
    color: color($colors, black);
    position: absolute;
    top: 0;
    right: 120px;
    width: 32px;
    height: 32px;
    padding: 0;
    margin: 0;
    &.button-wp {
      height: 4em;
      font-size: 1.6rem;
      margin: 0.4rem 0.2rem;
      padding: 0 1em;
    }
    &.activated {
      color: #dd4f29;
    }
  }

  .qty-num {
    display: inline-block;
    width: 112px;
    right: 40px;
    input {
      text-align: center;
      font-size: 14px;
	  margin: 8px;
      width: 100px;
    }
  }
.btn-inpt{
	    text-align: right;
    font-weight: bold;
}
  .qty-title {
    font-size: 12px;
	font-weight: bold;
    padding-left: 8px !important;
  }

  .btn-bottom {
    background: color($colors, white);
    .bt-f-left {
      background: color($colors, orange);
      margin-right: 5px;
      color: color($colors, white);
      text-align: center;
      line-height: 2.2;
      font-size: 14px;
      height: 30px;
    }
    .bt-f-right {
      background: color($colors, saleoff);
      color: color($colors, white);
      text-align: center;
      line-height: 2.2;
      font-size: 14px;
      height: 30px;
    }
  }
}
