<!--
  Generated template for the ItemVariantPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-footer>
  <ion-grid class="bg-white">
    <ion-row>
      <ion-col col-4>
      	<div class="img-variant">
        	<img src="{{variants[selectedIndex].image}}" />
      	</div>
      </ion-col>
      <ion-col col-8>
        <div class="variant_price">
          {{variants[selectedIndex].price_format}}
          <del class="variant_compare-price" *ngIf="variants[selectedIndex].compare_at_price_format != '0₫'">{{variants[selectedIndex].compare_at_price_format}}</del>
          <div class="variant_stock" *ngIf="variants[selectedIndex].inventory_quantity != 0">Còn hàng</div>
          <div class="variant_stock" *ngIf="variants[selectedIndex].inventory_quantity == 0">Hết</div>
        </div>
      </ion-col>
    </ion-row>
    <!-- option -->
    <ion-row class="variant-selected" align-items-center *ngFor="let option of options">
      <ion-col col-3 class="label-option">{{option.name}}: </ion-col>
      <ion-col col-9 no-padding>
      	<ng-container>
	        <ion-list radio-group no-padding>
	          <div class="border-option" *ngFor="let detail of option.details; let isFirst = first; let num = index">
	            <ion-item>
	              <ion-label>
	                <span>{{detail.name}}</span>
	                <img class="crossed-out" src="assets/icon/soldout.png">
	              </ion-label>
	              <ion-radio tappable (tap)="selectedDetail(option,detail)" [disabled]="detail.disabled" [checked]="option.selectedDetail == detail.name" #optionSelected></ion-radio>
	            </ion-item>
	          </div>
	        </ion-list>
    	</ng-container>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-grid class="bg-white quantity" no-padding>
  	<ion-row align-items-center>
      <ion-col col-3 class="qty-title">Số lượng</ion-col>
      <ion-col col-9 class="btn-inpt">
        <ion-input type="number" class="qty-num" value="{{quantity}}" min="1" (keyup)="changeNum($event)" [readonly]="variants[selectedIndex].inventory_quantity < 1"></ion-input>
        <button ion-button clear class="qty-minus" tappable (tap)="decrease()" [disabled]="variants[selectedIndex].inventory_quantity < 1">
          <i class="fas fa-minus"></i>
        </button>
        <button ion-button clear class="qty-plus" tappable (tap)="increase(variants[selectedIndex])" [disabled]="variants[selectedIndex].inventory_quantity < 1">
          <i class="fas fa-plus"></i>
        </button>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-grid no-padding>
    <ion-row class="btn-bottom" *ngIf="variants[selectedIndex].inventory_quantity > 0">
      <ion-col col-6>
        <div class="bt-f-left" text-uppercase tappable (tap)="addToCart(variants[selectedIndex])">
          Thêm vào giỏ
        </div>
      </ion-col>
      <ion-col col-6>
        <div class="bt-f-right" text-uppercase tappable (tap)="gotoCart(variants[selectedIndex])">
          Mua ngay
        </div>
      </ion-col>
    </ion-row>
    <ion-row class="btn-bottom" *ngIf="variants[selectedIndex].inventory_quantity < 1">
      <ion-col col-12>
        <div class="bt-f-right" text-uppercase>
          Hết Hàng
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-footer>
