<!--
  Generated template for the ItemProductPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar>
    <ion-title></ion-title>
    <!-- search button  -->
    <ion-buttons end>
      <button ion-button icon-only tappable (click)="goSearch()">
        <!-- <ion-icon name="search"></ion-icon> -->
        <i class="fas fa-search"></i>
      </button>
    </ion-buttons>
    <!-- call button  -->
    <ion-buttons end>
      <button ion-button icon-only>
        <!-- <ion-icon name="call"></ion-icon> -->
        <i class="fas fa-phone-volume"></i>
      </button>
    </ion-buttons>
    <!-- noti button  -->
    <!-- <ion-buttons end>
      <button class="noti-btn" ion-button icon-only tappable (click)="viewNoti()">
        <i class="fas fa-bell"></i>
        <ion-badge item-end class="badge-header">0</ion-badge>
      </button>
    </ion-buttons> -->
  </ion-navbar>
</ion-header>
<ion-content *ngIf="product">
  <!-- basic information -->
  <ion-grid class="item-product">
    <ion-row>
      <ion-col col-12>
        <ion-slides pager>
          <ion-slide *ngFor="let img of productDetail.images">
            <img [src]="img">
          </ion-slide>
        </ion-slides>
      </ion-col>
      <ion-col col-12>
        <p class="item-title" no-margin text-uppercase>{{productDetail.title}}</p>
        <div class="item-price">
          <span class="current-price">{{productDetail.price_format}}</span>
          <span class="original-price" *ngIf="productDetail.compare_at_price_format != '0₫'"><s>{{productDetail.compare_at_price_format}}</s></span>
          <span class="sale" *ngIf="productDetail.available && productDetail.sale != '-0%'">{{ productDetail.sale }}</span>
          <span class="sold-out" *ngIf="!productDetail.available">Hết</span>
        </div>
      </ion-col>
      <ion-col col-12 class="no-pd-top">
        <div class="item-review-barcode">
          <span class="review">
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="far fa-star"></i>
            (123)
          </span>
          <span class="barcode">Mã sản phẩm: {{productDetail.variants[0].sku}}</span>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
  <!-- btn share and like -->
  <ion-grid no-padding>
    <ion-row no-padding>
      <ion-col col-12 no-padding>
        <div class="line-item">
          <div class="btn-group-item">
            <span class="btn-share">
              <i class="fas fa-share-alt"></i>
            </span>
            <span class="btn-like">
              <i class="far fa-heart"></i>
            </span>
          </div>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
  <!-- policies -->
  <ion-grid class="bg-white boder-bottom" padding-top>
    <ion-row>
      <ion-col col-4>
        <ion-row no-padding class="policy" align-items-center>
          <ion-col col-2 no-padding>
            <div class="policy-img">
              <img src="assets/icon/free-delivery.png">
            </div>
          </ion-col>
          <ion-col col-10 no-padding>
            <div class="policy-text" text-uppercase>
              Miễn phí giao hàng
            </div>
          </ion-col>
        </ion-row>
      </ion-col>
      <ion-col col-4>
        <ion-row no-padding class="policy" align-items-center>
          <ion-col col-2 no-padding>
            <div class="policy-img">
              <img src="assets/icon/medal.png">
            </div>
          </ion-col>
          <ion-col col-10 no-padding>
            <div class="policy-text" text-uppercase>
              Chất lượng đảm bảo
            </div>
          </ion-col>
        </ion-row>
      </ion-col>
      <ion-col col-4>
        <ion-row no-padding class="policy" align-items-center>
          <ion-col col-2 no-padding>
            <div class="policy-img">
              <img src="assets/icon/refund.png">
            </div>
          </ion-col>
          <ion-col col-10 no-padding>
            <div class="policy-text" text-uppercase>
              Đổi trả dễ dàng
            </div>
          </ion-col>
        </ion-row>
      </ion-col>
    </ion-row>
  </ion-grid>
  <!-- description -->
  <ion-grid class="item-product" no-padding>
    <ion-row>
      <ion-col col-12 class="ion-customer-header">
        <div class="text-title" text-uppercase>
          Mô tả sản phẩm
        </div>
        <div class="icon-title" tappable (click)="presentModal()">
          <i class="fas fa-angle-right"></i>
        </div>
      </ion-col>
      <ion-col col-12 no-padding>
        <div class="detail-product">
          <div class="detail-inner" [innerHTML]="productDetail.body_html"></div>
            <!-- <ion-icon name="arrow-down"></ion-icon> -->
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>

  <!-- related product -->
  <ion-grid class="item-product related_products" no-padding>
    <ion-row>
      <ion-col col-12 class="ion-customer-header">
        <div class="text-title" text-uppercase>
          Sản phẩm liên quan
        </div>
        <div class="icon-title" tappable (click)="goCollection(product.related_handle, product.related_title)">
          <i class="fas fa-angle-right"></i>
        </div>
      </ion-col>
    </ion-row>
    <ion-row class="list-products">
      <ng-container *ngFor="let related of product.related_products; let i=index">
        <ion-col class="product-lineitem" col-6 col-md-3 col-lg-3 col-xl-4 *ngIf="i < 2">
          <div class="product-item">
            <div class="product-img">
              <a text-center tappable (click)="viewProduct(related.handle)">
                <img [src]="related.featured_image" [alt]="related.title">
              </a>
              <div class="product-tags">
                <div class="tag-saleoff" text-center *ngIf="related.available && related.sale != '-0%'">{{related.sale}}</div>
              <div class="tag-soldout" text-center *ngIf="!related.available">Hết</div>
              </div>
            </div>
            <div class="product-info">
              <div class="product-title" text-uppercase tappable (click)="viewProduct(related.handle)">
                {{related.title}}
              </div>
              <div class="product-price" text-center>
                <span class="current-price">{{related.price_format}}</span>
                <span class="original-price" *ngIf="related.compare_at_price_format != '0₫'">
                <s>{{related.compare_at_price_format}}</s>
              </span>
              </div>
            </div>
          </div>
        </ion-col>
      </ng-container>
    </ion-row>
  </ion-grid>

  <!-- seen product -->
  <ion-grid class="item-product related_products" no-padding>
    <ion-row>
      <ion-col col-12 class="ion-customer-header">
        <div class="text-title" text-uppercase>
          Sản phẩm đã xem
        </div>
        <div class="icon-title" tappable (click)="goSeenProduct()">
          <i class="fas fa-angle-right"></i>
        </div>
      </ion-col>
    </ion-row>
    <ion-row class="list-products" *ngIf="seenProducts | async; let seenProducts">
      <ng-container  *ngFor="let seen of seenProducts; let i=index">
        <ion-col class="product-lineitem" col-6 col-md-3 col-lg-3 col-xl-4 *ngIf="i < 2">
          <div class="product-item">
            <div class="product-img">
              <a text-center tappable (click)="viewProduct(seen.handle)">
                <img [src]="seen.images[0]" [alt]="seen.title">
              </a>
              <div class="product-tags">
                <div class="tag-saleoff" text-center *ngIf="seen.available && seen.sale != '-0%'">{{seen.sale}}</div>
                <div class="tag-soldout" text-center *ngIf="!seen.available">Hết</div>
              </div>
            </div>
            <div class="product-info">
              <div class="product-title" text-uppercase tappable (click)="viewProduct(seen.handle)">
                {{seen.title}}
              </div>
              <div class="product-price" text-center>
                <span class="current-price">{{seen.price_format}}</span>
                <span class="original-price" *ngIf="seen.compare_at_price_format != '0₫'">
                <s>{{seen.compare_at_price_format}}</s>
              </span>
              </div>
            </div>
          </div>
        </ion-col>
      </ng-container>
    </ion-row>
  </ion-grid>


  <!-- <div class="item">
    <p class="item-sale" *ngIf="product.sale != '-Infinity'">-{{product.sale}}%</p>
    <img [src]="product.featured_image" />
    <p class="item-price">{{product.price}}₫</p>
    <p class="item-title">{{product.title}}</p>
    <item-product-variants *ngIf="options" [options]="options" (selectedVariant)="selectedVariant($event)"></item-product-variants>
    <div class="item-description" [innerHTML]="product.description" tappable (click)="presentModal()"></div>
  </div> -->
  <!-- add cart -->
  <!-- <div class="add-cart">
    <button (click)="addToCart(product)" ion-button large round>
      Thêm vào giỏ hàng
    </button>
  </div> -->
</ion-content>

<!-- view variant -->
<ion-footer *ngIf="product">
  <ion-grid class="bottom-fixed" no-padding>
    <ion-row>
      <ion-col col-2>
        <div class="bt-f-left" tappable>
          <i class="fas fa-home"></i>
        </div>
      </ion-col>
      <ion-col col-10>
        <div class="bt-f-right" text-uppercase tappable (tap)="viewVariant()">
          <i class="fas fa-shopping-cart"></i> Mua hàng
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-footer>
