page-item-product {
    .scroll-content {
        margin-top: 56px;
        padding-top: 0;
    }

   .item {
        text-align: center;

        .item-sale {
            position: absolute;
            top: 1em;
            background-color: #daf5ec;
            color: #44cd9f;
            padding: 0 1em;
            border-radius: 50px;
            margin: 0;
        }

        .item-title {
            text-align: center;
            color: #333333;
            font-size: x-large;
            font-weight: bolder;
            margin: 0;
        }
        
        .item-price {
            text-align: center;
            color: #BC3F44;
            font-size: large;
            font-weight: 600;
            text-align: center;
            margin-top: 0;
        }

        .item-description {
            display: -webkit-box;
            -webkit-line-clamp: 2;
            -webkit-box-orient: vertical;
            height: 4.5em;
            overflow: hidden;
        }
   }

   .add-cart {
       text-align: center;
       button {
            color: white; 
            background: linear-gradient(to left,#333333, #BC3F44);
            text-transform: capitalize;
            margin-top: 1em;
        }
   }
}
